/* ===== fonts family =====*/
$font-family_base: "Roboto", sans-serif;

/* ===== colors =====*/
$white: #fff;
$orange: #ff7300;
$aquamarine: #04fff6;
$gray: #ccc;
$black: #000;

/* ===== width screen =====*/
$mobile-medium: 360px;
$mobile-large: 480px;
$mobile-max: 767px;
$tablet-medium: 991px;
$tablet-max: 1199px;
$desktop-min: 1200px;
